<nav>
    <a href="{{ path('app_home') }}">Home</a>

    {% if app.user %}
    <span>{{ app.user.email }}</span>
    <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
    <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('app_register') }}">Registrati</a>
    {% endif %}

</nav>