{% extends "base.html.twig" %}

{% block title %}Nuovo post - SymBlog{% endblock %}

{% block body %}

<h1>Nuovo post</h1>

{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.isPublished) }}
<button type="submit" >Pubblica</button>

{{ form_end(form) }}

{% endblock %}